<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
    <div class="result-box">
  <h1>Thanks for submitting!</h1>
  <p><strong>Username:</strong> <%= username %></p>
  <p><strong>Email:</strong> <%= email %></p>
  </div>
</body>
</html>